@if (errorMessage) {
  <div>{{errorMessage}}</div>
}
<form [formGroup]="loginPage">
    <div class="login">
    <div class="container">
      <h1>LOGIN PAGE</h1>

      <div class="uname">
        <label for="">Email</label>
        <span *ngIf="username && username.invalid">Email is Invalid</span>
        <input type="text" formControlName="username" [(ngModel)]="UserName" 
        name="UserName"/>
      </div>
      <div class="passw">
        <label for="">Password</label>
        <span *ngIf="password && password.invalid">Password is Invalid</span>
        <input type="password" formControlName="password" [(ngModel)]="PassWord" 
        name="PassWord"/>
      </div>
      <div class="btn">
        <button type="submit" (click)="getIn()">Login</button>
      </div>
      <div>Create new account <a href="/Signup"> Click me</a></div>
    </div>
  </div>
  </form>
